/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fa5757;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#99080d;
    margin: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(101, 1, 1);
  }